.as {
  .establishment_sec {

    // .img-fluid {
    //   max-width: 75%;
    //   height: auto;
    //   vertical-align: top;
    // }

    article {
      font-size: 15px;
      text-align: justify;
    }

    .block-divider {
      margin: 5rem 0;
      border: 0;
      border-top: 1px solid rgba(0,0,0,.1);
    }
  }  
}