.as {
  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 40px 0 0 0;
    background-color: $footer-background;
    color: #cecece;
    z-index: 99;

    .small_footer {
        background: #da5455;
        display: block;
        clear: both;
        padding: 17px 0px;
        min-height: 56px;
        position: relative;
        overflow: hidden;
    }

    .footer_component {
      margin-bottom: 40px;
      text-align: left;

      .component_content {
        width: 100%;
        display: block;
        border-radius: 3px;
        border: 0;
        padding: 0;

        h3 {
          font-size: 18px;
          color: #fff;
          line-height: normal;
          margin-bottom: 20px;
        }

        .contact_info_list {
          ul {
            &.ci_list {
              li {
                padding: 15px 0 15px 50px;
                display: block;
                border-bottom: 1px solid #353535;
                line-height: 22px;
                clear: both;

                &:before{
                  
                }

                &:first-child {
                  border-top: 1px solid #373737;
                }
                .circle {
                  background: #191919;
                  padding-top: 0;
                  width: 32px;
                  height: 32px;
                  line-height: 32px;
                  border-radius: 100px;
                  margin-left: -45px;
                  margin-right: 12px;
                  text-align: center;
                  display: inline-block;
                  margin-top: 7px;
                  opacity: 0.7;
                  position: relative;
                  top: 10px;
                }

                a {
                  &:hover {
                    color: #da5455; 
                  }
                }
              }
            }
          }
        }

        .more_info_list {
          ul {
              li {
                display: block;
                border-bottom: 1px solid #353535;
                clear: both;
                padding: 11px 20px 11px 0;
                list-style: disc;               

                &:first-child {
                  border-top: 1px solid #373737;
                }

                a {
                  &:hover {
                    color: #da5455; 
                  }
                }
              }
          }

          .recent_event_date {
            height: 86px;
            width: 52px;
            float: left;
            text-align: center;
            display: block;
            font-size: 20px;
            font-weight: bold;
            padding-top: 12px;
            border-radius: 3px;
            overflow: hidden;
            background: #ededed;
            color: #666;
            line-height: 22px;
            text-decoration: none;
            margin: 0;

            .e_month {
              display: block;
              font-size: 11px;
              text-transform: uppercase;
              margin-top: 0px;
              margin-bottom: 4px;
            }

            .e_year {
              color: #fff;
              width: 100%;
              height: 26px;
              display: block;
              background: #da5455;
              font-size: 11px;
              font-weight: normal;
              margin: 0;
              line-height: 26px;
              border-radius: 0 0 3px 3px;
            }
          }

          .recent_event_content {
            margin-left: 70px;

            .recent_event_title {
              color: #da5455;
              font-size: 14px;
              margin: 0 0 2px 0;
              font-weight: bold;
            }
          }
        }
      }
    }

    .list-inline-item {
      &:not(:last-child) {
        margin-right: 0.7rem;
      }
    }
  }
}