.as {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  nav {
    //background-color: $navigation-background;
    color: #fff0e3;
    padding: 0;
    min-height: 60px;
    display: block;

    .navbar-toggler {
      position: relative;
      top: 10px;
    }

    li {
      letter-spacing: 0.1rem;
      display: block;
      line-height: 1.4;
      font-size: 1em;
      color: #fff;
      text-decoration: none;
      padding: 1.5em 12px;

      .active {
        a {
          cursor: default;
        }
      }

      a {
        cursor: pointer;
      }
    }

    span {
      padding: 0.5rem 0.75rem;
      color: #fff;
    }
  }

  .fixed-header-top {
    margin-top: 126px;
  }

  .navbar-light {
    .navbar-brand {
      color: $navbar-light-brand-color;

      @include hover-focus() {
        //   color: $navbar-light-brand-hover-color;
      }
    }

    .navbar-nav {
      .nav-item:hover {
        background: rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .nav-link {
        color: $navbar-light-color;
        padding: 0;

        @include hover-focus() {
          //color: $navbar-light-hover-color;
        }

        &.disabled {
          color: $navbar-light-disabled-color;
        }
      }

      // .show > .nav-link,
      // .active > .nav-link,
      // .nav-link.show,
      // .nav-link.active {
      //   color: $navbar-light-active-color;
      // }
    }
  }

  // .theme_social_icons {
  // .sm_twitter{
  //     background: transparent url(../../img/twitter.png) no-repeat 0 0;
  //   }
  // }

  .active {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .as {
    // .main-menu {
    //   position: fixed;
    //   display: none;
    //   top: 0;
    //   height: 100%;
    //   z-index: 999;
    //   width: 40%;
    // }

    .navbar-toggler {
      float: right;
    }
  }
}

@media (max-width: 1200px) {
  .as {
    .navbar-nav {
      padding: 20px 0 10px 0;
    }

    .navbar-toggler{
      right: -12px;
    }

    nav {
      li {
        background-color: #ececec;
        color: #414042!important;
        border-bottom: 1px solid #bbbdc0;
      }
    }
  }
}




