$base-font-color: #414042;
$as-background-color: #fff;
$as-main-title-color: #fff;
$info-color: #fff;

/* Navigation Menu*/
//$navigation-background: #ff5722;
//$navigation-background: #f44336;
$navigation-background: #da5455;
$navbar-light-brand-color: #fff;
$navbar-light-color: #fff;
$navbar-light-hover-color: #414042;

$footer-background: #2e2e2e;

/* Font Colors */

// $base-font-size:15px;
// $base-font-family:"Segoe UI","Segoe WP","Segoe Regular", sans-serif;
// $base-font-color:#666666;

/* Background Colors */

// $primary-color:#00aff0;
// $secondary-color:#7fba00;
// $light-color:#e4eef2;
// $dark-color:#2b5464;

/* Showcase Area */

// $showcase-height:400px;
// $showcase-image:'../img/showcase.jpg';
